.tweet-feed {
  flex: 1;
  padding: 0;
  margin-left: 0;
  height: 40vh;
  overflow: auto;

  .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  li {
    list-style: none;
    .tweet {
      display: block;
      width: 100%;

      .media > * {
        margin: 0.5em;
      }
    }
  }

  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.trends-list {
  width: 300px;
  height: 40vh;
  overflow: auto;
  li {
    list-style: none;
  }
}
